PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://ardiastudiodev_db:mY9uLzyLf2c8vvfp@cluster0.08weob5.mongodb.net/?appName=Cluster0
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEyMyIsImlhdCI6MTc2OTg5ODE3NywiZXhwIjoxNzc1MDgyMTc3fQ.9HGcfnNu2JhdGRLRtTkS8HEj4VyiuMnmdp5ZvzNkmrA
CLIENT_URL=http://localhost:5173
# Google Auth
GOOGLE_CLIENT_ID=940030895008-u8i8dnh5d2jcbig3vnum1m7glc177br7.apps.googleusercontent.com
# Cloudinary
CLOUDINARY_CLOUD_NAME=dbvupguis
CLOUDINARY_API_KEY=849126434389425
CLOUDINARY_API_SECRET=oUZXRaDo8wSa611KlhoT7xGStKU